body, html{
  font-family: 'Roboto', sans-serif;
  
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  color: #333333;
  background-color: #F9D5D3;
}
button{
  cursor: pointer;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
  border-bottom: 2px solid #a33c44;
  background-color: #e04552;
  color: #FFFFFF;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer{
  text-align: center;
}

.hide{
  display: none;
  transition: all 0.3s ease-in-out;
}

.name{
  font-size: 1.4rem;
  margin: 0;
}

.buttons button{
  font-size: 1.4rem;
  font-weight: bold;
  background: transparent;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  margin: 0 7px;
  transition: all 0.3s ease-in-out;
  
  color: #FFFFFF;
}

.buttons button:hover{
  background-color: #a02f38;
  color: #f0f0f0;
}

.buttons .active{
  background-color: #a33942;
  color: #e0e0e0
}

.main{
  flex: 1;
  justify-items: center;
  align-items: center;
  /* border: 2px solid black; */
}

.container{
  /* border: 2px solid black; */

  width: 50%;
  height: 100%;

  justify-items: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.choices{
  display: flex;
  padding: 30px 10px 10px 10px;
  width: 100%;

  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: 2px solid green; */
}

.choices button{
  border-radius: 10px;
  width: auto;
  height: 40px;
  padding: 5px 20px;
  font-size: 1rem;
  background-color: #E63946;
  color: white;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.choices button:hover{
  background-color: #c02f3b;
  color: rgb(241, 241, 241);
  transition: all 0.3s ease-in-out;
}

.choices .active{
  background-color: #a52933;
  color: rgb(214, 214, 214);

}

#soundBtn span{
  display: inline-block;
}

.choices img{
  height: 22px;
  margin-right: 2px;
  /* vertical-align: text-bottom; */
}

#sound{
  justify-content: center;
}

.game{
  flex: 1;
  /* border: 2px solid black; */
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container{
  /* border: 2px solid black; */
  width: fit-content;
}

.gameGrid{
  display: grid;
}

.fourbyfour{
  grid-template-columns: repeat(4, 96px);
}

.fourbyfour .square{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  cursor: pointer;

  width: 96px;
  height: 96px;
  border: 2px solid black;
}

.gameGrid .blank{
  width: 96px;
  height: 96px;
  cursor: default;
  border: none;
}

.threebythree{
  grid-template-columns: repeat(3, 96px);
}

.fivebyfive{
  grid-template-columns: repeat(5, 96px);
}

.extra{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}


footer{
  background-color: #f9d5d3;
  color: #d11b1b;
  font-size: 1.3rem;
  padding: 10px;
}

#popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;

  font-size: 1.5rem;

  /* justify-items: center; */
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.popups.show{

}

.top{
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  align-items: center;

  border-bottom: 2px solid red;
}

.popTop{
  flex-grow: 1;
  text-align: center;
  /* border: 2px solid black; */
}

#closeBtn{
  position:absolute;
  cursor: pointer;
  border: none;
  background: transparent;
  right: 35px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
  padding: 5px;
}

.words{
  width: 100%;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  flex: 1;
  /* border: 2px solid black; */
}

.words span{
  /* border: 2px solid black; */
  display: block;
}